@page "/Pizzas"
@using System.Globalization
@using Pizzas.Models
@inherits PizzaBase

<div class="container-fluid">
    <h3>Pizzas</h3>
    <div class="row text-center">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="admin" @bind="IsAdminMode" />
            <label class="custom-control-label" for="admin">Mode admin</label>
        </div>
    </div>
    @if (PizzaToEdit != null)
    {
        <EditForm OnValidSubmit="SubmitPizza" Model="PizzaToEdit">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group" style="width:100%">
                    <label for="name">Nom:</label>
                    <InputText class="form-control" id="name" placeholder="Saisir le nom" @bind-Value="PizzaToEdit.Name" />
                    <small><ValidationMessage For="() => this.PizzaToEdit.Name" /></small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" style="width:100%">
                    <label for="ingredients">Ingrédients (séparés par virgule):</label>
                    <InputText class="form-control" id="ingredients" placeholder="Saisir les ingrédients" @bind-Value="PizzaToEditIngredientsString" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" style="width:100%">
                    <label for="price">Prix (entier)</label>
                    <InputNumber class="form-control" id="price" placeholder="Saisir le prix" @bind-Value="PizzaToEdit.Price" />
                    <small><ValidationMessage For="() => this.PizzaToEdit.Price" /></small>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Validation</button>
            </div>
        </EditForm>
    }
    <div class="row">
        <div class="col-8">
            @foreach (var pizza in PizzaList)
            {
                <div class="row p-2">
                    <div class="col-2">
                        <img src="/images/@pizza.ImageName" style="width:100%" />
                    </div>
                    <div class="col">
                        <h5 class="text-warning text-uppercase font-weight-bold">@pizza.Name</h5>
                        <small class="font-italic">@string.Join(", ", pizza.Ingredients)</small>
                    </div>
                    <div class="col-2">
                        <h5 class="text-primary font-weight-bold">@pizza.Price.ToString("C", CultureInfo.CreateSpecificCulture("fr-FR"))</h5>
                        <div class="row p-2">
                            <button class="col btn btn-success" @onclick="(e)=>AddToCart(pizza)"><i class="fa-solid fa-basket-shopping"></i>add</button>
                            @if (IsAdminMode)
                            {
                                <button class="col btn text-primary border-primary" @onclick="(e) => EditPizza(pizza)">edit</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col">
            @foreach (var pizzaDict in Cart)
            {
                <div class="row align-items-center">
                    <span class="col text-warning text-uppercase font-weight-bold">@pizzaDict.Key.Name x @pizzaDict.Value</span>
                    <span class="col-3 font-weight-bold">
                        @((pizzaDict.Key.Price*pizzaDict.Value).ToString("C", CultureInfo.CreateSpecificCulture("fr-FR")))
                    </span>
                    <button class="col-1 btn text-danger font-weight-bold" @onclick="(e)=>RemoveFromCart(pizzaDict.Key)">x</button>
                </div>
            }
            <h3 class="font-weight-bold">Total : @Total.ToString("C", CultureInfo.CreateSpecificCulture("fr-FR"))</h3>
            <button class="btn btn-danger" @onclick="EmptyCart">Vider le panier</button>
        </div>
    </div>
</div>
